<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Last Airbender API</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
    integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>

<body>
  <nav style="background-color: white">
    <div class="nav-wrapper container"><a href="/" id="logo-container" class="brand-logo"
        style="padding-top: 8px"><embed src="/static/img/avatarpilogo.svg" href="/" style="width: 200px "></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/" style="color:black">Home</a></li>
        <li><a href="/about" style="color:black">About</a></li>
        <li><a href="/docs" style="color:black">Documentation</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header">Documentation</h1>
      <div>
        <h5 class="header col s12 light">Introduction</h5>
        <div class="col s5 m10">
          <p>This is the documentation for Version 1 (V1) of the Avatar API, originally released in September of 2019
          </p>
        </div>

        <h5 class="header col s12 light">Reponse Format</h5>
        <div class="col s5 m10">
          <p>The default response format is JSON</p>
        </div>
        <h5 class="header col s12 light">Authentication</h5>
        <div class="col s5 m10">
          <p>This is an open API, which means that no authentication is required to query the API for data. Therefore,
            there is only support for GET-ing data.</p>
        </div>

        <hr>
        <h4 class="header col s12 light">ROUTES</h4>
        <div class="col s5 m10">
          <p>All routes must be prefixed with <code
              style="background-color: blanchedalmond">https://www.avatarapi/herokuapp.com</code></p>
        </div>
        <h5 class="header col s12 light">Characters Route</h5>
        <div class="col s5 m10">
          <div class="URL" style="background-color: blanchedalmond">
            <code style="font-size: 20px">GET /characters</code>

          </div>

          <p style="  font-style: italic;">Returns all characters.</p>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>name</td>
                <td class="value">string</td>
                <td>Name of character</td>
              </tr>
              <tr>
                <td>gender</td>
                <td class="value">string</td>
                <td>Gender of character</td>
              </tr>
              <tr>
                <td>ethnicity</td>
                <td class="value">string</td>
                <td>Ethnicity of character</td>
              </tr>
              <tr>
                <td>nationality</td>
                <td class="value">string</td>
                <td>Nationality of character</td>
              </tr>
              <tr>
                <td>bending</td>
                <td class="value">array of strings</td>
                <td>The bendings that the character can do. If character is a nonbender or undisclosed, then
                  'Nonbending'</td>
              </tr>
              <tr>
                <td>year of birth</td>
                <td class="value">string</td>
                <td>Character's date of birth</td>
              </tr>
              <tr>
                <td>year of death</td>
                <td class="value">string</td>
                <td>Character's date of death</td>
              </tr>
              <tr>
                <td>roles</td>
                <td class="value">array of strings</td>
                <td>Characters's role during their lifetime</td>
              </tr>
              <tr>
                <td>aliases</td>
                <td class="value">array of strings</td>
                <td>Aliases that the character has used </td>
              </tr>
              <tr>
                <td>affiliations</td>
                <td class="value">array of strings</td>
                <td>Affiliations that the character belongs to </td>
              </tr>
              <tr>
                <td>weapons</td>
                <td class="value">array of strings</td>
                <td>Weapons that the character uses </td>
              </tr>
              <tr>
                <td>fighting styles</td>
                <td class="value">array of strings</td>
                <td>Fighting styles that the character uses </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <p>
            <strong>Example response:</strong>
          </p>
          <div style="border-style: solid; border-color: blanchedalmond; width:60%">
            <pre><code">
  [
    {
      "name": "Aang",
      "ethnicity": "Air Nomad",
       "nationality": "Southern Air Temple",
       "bending": [
        "Airbending",
        "Waterbending",
        "Earthbending",
        "Firebending"
      ],
      "gender": "Male",
      "year of birth": "12 BG",
      "year of death": "153 AG",
      ...
    },
    {
      "name": "Zuko",
      ...
      "aliases": [
        "Lee",
        "Zuzu",
        "Blue Spirit"
      ],
      "affiliations": [
        "Fire Nation Royal Family",
        "Team Avatar"
      ],
      "weapons": [
        "Dual Broadswords"
      ],
        "fighting styles": [
          "Firebending (Dancing Dragon)",
          "Dual Dao Swordsmanship"
      ]
    },
    ...
  ]
      </code></pre>
          </div>
        </div>
        <br>
        <h6 class="header col s12 light">Filtering Characters</h6>
        <p>
          You can also include filter parameters in your request to the characters endpoint by the following url:</p>
        <div class="col s5 m10">
          <div class="URL" style="background-color: blanchedalmond">
            <pre><code style="font-size: 20px; ">GET /characters/param/{value}</code></pre>

          </div>

          <table>
            <thead>
              <tr>
                <th>Param</th>
                <th>Value</th>
                <th>Description</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><code class="params">benders</code></td>
                <td class="value">string</td>
                <td>Characters with the given bending skills are included in the response.</td>
              </tr>
              <tr>
                <td><code class="params">gender</code></td>
                <td class="value">string</td>
                <td>Characters with the given gender are included in the response.</td>
              </tr>
              <tr>
                <td><code class="params">ethnicity</code></td>
                <td class="value">string</td>
                <td>Characters with the given ethnicity are included in the response.</td>
              </tr>
              <tr>
                <td><code class="params">nationality</code></td>
                <td class="value">string</td>
                <td>Characters with the given nationality are included in the response.</td>
              </tr>
              <tr>
                <td><code class="params">affiliation</code></td>
                <td class="value">string</td>
                <td>Characters who are part of the given affiliation are included in the response.</td>
              </tr>
            </tbody>
          </table>

        </div>
        <br>
        <h6 class="header col s12 light">Getting a specific character</h6>
        <p>
          You can also get a specific character by the following url:</p>
        <div class="col s5 m10">
          <div class="URL" style="background-color: blanchedalmond">
            <code style="font-size: 20px">GET /characters/{name}</code>

          </div>

          <div>
            <p>
              <strong>Example response:</strong>
            </p>
            <div style="border-style: solid; border-color: blanchedalmond; width:60%">
              <pre><code">
  {
    "name": "Aang",
    "ethnicity": "Air Nomad",
    "nationality": "Southern Air Temple",
    "bending": [
      "Airbending",
      "Waterbending",
      "Earthbending",
      "Firebending"
    ],
    "gender": "Male",
    "year of birth": "12 BG",
    "year of death": "153 AG",
    "roles": [
      "Avatar",
      "Co-founder of the United Republic of Nations",
      "Air Nomad Culture Teacher",
      "Airbending instructor"
    ],
    "aliases": [
      "Twinkle Toes",
      "Kuzon"
    ],
    "affiliations": [
      "Air Nomads",
      "Air Acolytes",
      "Team Avatar"
    ],
    "weapons": [
      "Glider Staff"
    ],
    "fighting styles": [
      "Airbending",
      "Waterbending (Northern Style)",
      "Waterbending (Southern Style)",
      "Earthbending (Chu Gar Praying Mantis Kung Fu)",
      "Firebending (Dancing Dragon)",
      "Energybending"
    ]
  }
          </code></pre>
            </div>
          </div>

          <br>
          <hr>

        </div>
        <h5 class="header col s12 light">Locations Route</h5>
        <div class="col s5 m10">
          <div class="URL" style="background-color: blanchedalmond">
            <code style="font-size: 20px">GET /locations</code>

          </div>
          <p style="  font-style: italic;">Returns all the locations.</p>
          <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Description</th>
                </tr>
              </thead>
  
              <tbody>
                <tr>
                  <td>name</td>
                  <td class="value">string</td>
                  <td>Name of location</td>
                </tr>
                <tr>
                  <td>nation</td>
                  <td class="value">string</td>
                  <td>Nation where location is located</td>
                </tr>
                <tr>
                  <td>location</td>
                  <td class="value">string</td>
                  <td>General location of where in the nation the location is located</td>
                </tr>
                <tr>
                  <td>role</td>
                  <td class="value">string</td>
                  <td>The main function of the location </td>
                </tr>
              </tbody>
            </table>
          <div>
              <p>
                <strong>Example response:</strong>
              </p>
              <div style="border-style: solid; border-color: blanchedalmond; width:60%">
                <pre><code">
  [
    {
      "name": "Eastern Air Temple",
      "nation": "Air Nomad Mountain Range",
      "location": "Southeast of Earth Kingsdom",
      "role": "Home to Female Air Acolytes and Air Nomads"
    },
    {
      "name": "Ba Sing Se",
      "nation": "Earth Kingdom",
      "location": "Northeastern Earth Kingdom",
      "role": "Capital of the Earth Kingdom"
    },
    ....
  ]
            </code></pre>
              </div>
            </div>
        </div>

<br>
        <h6 class="header col s12 light">Filtering Locations</h6>
        <p>
          You can also include filter parameters in your request to the locations endpoint by the following url:</p>
        <div class="col s5 m10">
          <div class="URL" style="background-color: blanchedalmond">
            <pre><code style="font-size: 20px; ">GET /locations/param/{value}</code></pre>

          </div>
          <table>
            <thead>
              <tr>
                <th>Param</th>
                <th>Value</th>
                <th>Description</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><code class="params">nations</code></td>
                <td class="value">string</td>
                <td>Locations in the given nation are included in the response.</td>
              </tr>

            </tbody>
          </table>

        </div>
<br>
        <h6 class="header col s12 light">Getting a specific location</h6>
        <p>
            You can also get a specific location by the following url:</p>
        <div class="col s5 m10">
          <div class="URL" style="background-color: blanchedalmond">
            <code style="font-size: 20px">GET /locations/{name}</code>

          </div>
          <div>
              <p>
                <strong>Example response:</strong>
              </p>
              <div style="border-style: solid; border-color: blanchedalmond; width:60%">
                <pre><code">
  {
    "name": "Eastern Air Temple",
    "nation": "Air Nomad Mountain Range",
    "location": "Southeast of Earth Kingsdom",
    "role": "Home to Female Air Acolytes and Air Nomads"
  }
            </code></pre>
              </div>
            </div>
        </div>
        <br>
<hr>
        <h5 class="header col s12 light">Bendings Route</h5>
        <div class="col s5 m10">
          <div class="URL" style="background-color: blanchedalmond">
            <code style="font-size: 20px">GET /bendings</code>

          </div>

          <p style="  font-style: italic;">Returns all bendings.</p>
        </div>
        <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>name</td>
                <td class="value">string</td>
                <td>Name of bending</td>
              </tr>
              <tr>
                <td>source</td>
                <td class="value">string</td>
                <td>Source of bending</td>
              </tr>
              <tr>
                <td>learned from </td>
                <td class="value">string</td>
                <td>Object or animal in which benders learned bending from </td>
              </tr>
              <tr>
                <td>alternative styles</td>
                <td class="value">array of strings</td>
                <td>Alternative styles of bending </td>
              </tr>
              <tr>
                  <td>abilities</td>
                  <td class="value">dictionary whose keys are string and values are an array of strings</td>
                  <td>Alternative styles of bending </td>
                </tr>
                <tr>
                    <td>weapons</td>
                    <td class="value">array of strings</td>
                    <td> weapons that benders use</td>
                  </tr>
                  <tr>
                      <td>weaknesses</td>
                      <td class="value">array of strings</td>
                      <td> weaknesses of bending</td>
                    </tr>
            </tbody>
          </table>

        <div>
            <p>
              <strong>Example response:</strong>
            </p>
            <div style="border-style: solid; border-color: blanchedalmond; width:60%">
              <pre><code">
  [
    {
      "name": "Waterbending",
      "source": "Moon and Ocean Spirits",
      "learned from": "Moon",
      "alternative styles": [
        "Bloodbending",
        "Healing"
      ],
      "abilities": {
        "general": [
          "Breath of Ice",
          "Ice Blade",
          "Ice Bullets",
          "Ice Claw",
          "Ice Creepers",
          "Ice Disk",
          "Ice Gauntlet",
          "Ice Hook",
          "Ice Line",
          "Ice Shield",
          "Ice Spear",
          "Iceberg Spike",
          "Phase Change",
          "Streaming the Water",
          "Water Bullets",
          "Water Cloak",
          "Water Filtering",
          "Water Jet",
          "Water Knife",
          "Water Manipulation",
          "Water Pressure Manipulation",
          "Water Wall/Shield",
          "Water Whip",
          "Wave"
        ],
        "advanced": [
          "Bubble",
          "Ice Dagger",
          "Ice Dome",
          "Ice Drill",
          "Ice Floor",
          "Ice Ladder",
          "Ice Prison",
          "Ice Ramp",
          "Ice Sled",
          "Ice Tunneling",
          "Maelstorm",
          "Mist-Stepping",
          "Octopus Form",
          "Partial Ice WHip",
          "Razor Rings",
          "Water Ball",
          "Water Boxing",
          "Water Dome",
          "Water Drill",
          "Water Gimbal",
          "Water Pinwheel",
          "Water Ring",
          "Water Sprout/Water Vortex"
        ],
        "avatar level": [
          "Ice Fissure",
          "Remote Waterbending",
          "Tsunami",
          "Water Compression"
        ],
        "special techniques": [
          "Armless Waterbending",
          "Bloodbending",
          "Cloud Manipulation",
          "Condensation",
          "Healing",
          "Plantbending",
          "Spiritbending",
          "Steam Manipulation",
          "Water Run"
          ]
        },
        "weapons": [
          "Water Skins"
        ],
        "weaknesses": [
          "Reliance on External Water Source",
          "Reliance on Movement of the Arms",
          "Lunar Eclipse",
          "Present Emotional State",
          "Lightening"
        ]
      },
      ...
    ]
          </code></pre>
            </div>
          </div>

        <h6 class="header col s12 light">Bending Route</h6>
        <p>
            You can also get a specific bending by the following url:</p>
        <p> </p>
        <div class="col s5 m10">
          <div class="URL" style="background-color: blanchedalmond">
            <code style="font-size: 20px">GET /bendings/{name}</code>

          </div>

          <div>
              <p>
                <strong>Example response:</strong>
              </p>
              <div style="border-style: solid; border-color: blanchedalmond; width:60%">
                <pre><code">
    {
        "name": "Waterbending",
        "source": "Moon and Ocean Spirits",
        "learned from": "Moon",
        "alternative styles": [
          "Bloodbending",
          "Healing"
        ],
        "abilities": {
          "general": [
            "Breath of Ice",
            "Ice Blade",
            "Ice Bullets",
            "Ice Claw",
            "Ice Creepers",
            "Ice Disk",
            "Ice Gauntlet",
            "Ice Hook",
            "Ice Line",
            "Ice Shield",
            "Ice Spear",
            "Iceberg Spike",
            "Phase Change",
            "Streaming the Water",
            "Water Bullets",
            "Water Cloak",
            "Water Filtering",
            "Water Jet",
            "Water Knife",
            "Water Manipulation",
            "Water Pressure Manipulation",
            "Water Wall/Shield",
            "Water Whip",
            "Wave"
          ],
          "advanced": [
            "Bubble",
            "Ice Dagger",
            "Ice Dome",
            "Ice Drill",
            "Ice Floor",
            "Ice Ladder",
            "Ice Prison",
            "Ice Ramp",
            "Ice Sled",
            "Ice Tunneling",
            "Maelstorm",
            "Mist-Stepping",
            "Octopus Form",
            "Partial Ice WHip",
            "Razor Rings",
            "Water Ball",
            "Water Boxing",
            "Water Dome",
            "Water Drill",
            "Water Gimbal",
            "Water Pinwheel",
            "Water Ring",
            "Water Sprout/Water Vortex"
          ],
          "avatar level": [
            "Ice Fissure",
            "Remote Waterbending",
            "Tsunami",
            "Water Compression"
          ],
          "special techniques": [
            "Armless Waterbending",
            "Bloodbending",
            "Cloud Manipulation",
            "Condensation",
            "Healing",
            "Plantbending",
            "Spiritbending",
            "Steam Manipulation",
            "Water Run"
            ]
          },
          "weapons": [
            "Water Skins"
          ],
          "weaknesses": [
            "Reliance on External Water Source",
            "Reliance on Movement of the Arms",
            "Lunar Eclipse",
            "Present Emotional State",
            "Lightening"
          ]
        }
            </code></pre>
              </div>
            </div>
        </div>
        

      </div>
      <br><br>

    </div>
  </div>

  <footer class="page-footer" style="background-color:white; padding-top: 10px; margin-top: 30px">
    <div class="footer-copyright" style="background-color:white">
      <div class="container">
        <p style="color: black; text-align: center;">Made with <span style="color: red">❤</span> by <a
            href="https://melyxlin.github.io/" style="color:black">Melissa Lin</a> </p>
      </div>
    </div>
  </footer>



  <!--  Scripts
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static.js/materialize.js"></script>
  <script src="/static/js/init.js"></script>
  -->

</body>

</html>