<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Last Airbender API</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav>
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#">Documentation</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header">About</h1>
      <div>
        <div class="row">
            <h5 class="header col s12 light">So..what is this API?</h5>
            <div class="col s5 m10">
              <div class="card">
                <div class="card-content">
                  <p>Avatar API is a RESTful API interface to the quantified and structured data to the Avatar: The Last Airbender series and its sequel, Avatar: The Legend of Korra. Using this API allows you to consume information on the characters, creatures, locations, and events within the ATLA and LOK universe.</p>
                </div>
              </div>
            </div>
          </div>
        <div class="row">
            <h5 class="header col s12 light">How much information does this API Have?</h5>
            <div class="col s5 m10">
              <div class="card">
                <div class="card-content">
                  <p>Since this is only in production phase, the API does not have a lot of data so far. However, I plan to expand on it more in the future </p>
                </div>
              </div>
            </div>
          </div>
        <div class="row">
            <h5 class="header col s12 light">Wait this API is missing stuff!</h5>
            <div class="col s5 m10">
              <div class="card">
                <div class="card-content">
                  <p>I know! Feel free to contribute to open issues on <a href="https://github.com/melyxlin/avatar-api">Github</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <h5 class="header col s12 light">Wait this API is missing stuff!</h5>
              <div class="col s5 m10">
                <div class="card">
                  <div class="card-content">
                    <p>Most of the information is gathered from the <a href="https://avatar.fandom.com/wiki/Avatar_Wiki">Avatar Wiki</a></p>
                  </div>
                </div>
              </div>
            </div>
    
        <div class="row">
            <h5 class="header col s12 light">What is your tech stack?</h5>
            <div class="col s5 m10">
              <div class="card">
                <div class="card-content">
                  <p>The API and Website is built together in a single Python project using the <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask Framework</a>. The website is built using pure HTML and <a href="https://materializecss.com/">Materialize</a> CSS. The data is stored on static JSON files. The API is being deployed via AWS.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <br><br>

    </div>
  </div>

  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static.js/materialize.js"></script>
  <script src="/static/js/init.js"></script>

  </body>
</html>